


.hoverText {
  position: relative;
  color: #000;
  text-decoration: none;
}

.hoverText:hover {
  color: #ff9800;
}

.hoverText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #ff9800;
  transition: width 0.3s ease-in-out;
}

.hoverText:hover::after {
  width: 100%;
}


.running {
  display: flex;
  animation: running 1s linear infinite; 
}

@keyframes running {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
